<app-card>
  <div class="me">
    <h3>About me</h3>

    <img class="me__logo" src="/assets/sander-square.jpg" />
    <p>
      Awesome that you're interested in the story behind me.
      First of all, you can call me Sander van 't Einde.
      I am a Dutch software engineer with a passion for TypeScript, C# and Angular.
      I write the blogs on this website.
    </p>
    <p>
      Ever since I was a little kid I was interesting in everything related to
      computers.
    </p>
    <p>I started my professional carreer as an Accountant. Working with numbers seems to be okay for me.</p>
    <p>After working in the field for about 1 year, I quickly realised that this was not what I wanted to do for my entire life.</p>
    <p>At that moment I started thinking, what am I enjoying most in life. And that's the moment I dropped out of school and signed up for an education in IT.</p>
    <p>
      Three years later I set up Gryphonheart Studios together with 4 of my class mates.
      We were going to make games together because we were very passionate about games at that point.
    </p>
    <p>
      Unfortunately, after 1,5 years of hard word on our new game, we came to the hard realisation that creating games is a very costly affair and the future for Gryphonheart did not look that bright.
      Thus after mutual understanding we all went our ways and decided to go into Software Engineering instead.
    </p>
    <p>
      There I found the complexity of creating tailor-made solutions for customers with very specific needs.
      This was challenging in its own way, which made me want to explore more of the industry.
    </p>
    <p>
      After an interesting 3,5 years at <a target="_blank" href="https://www.infosupport.com/en">Info Support</a>. 
      I'm going on a new adventure as a .NET Xprt at <a href="https://www.xprtz.net">Xprtz</a>
    </p>

    <p>
      Just a wrap-up note: Did you know that this website's source code is entirely open-source?
      The line you're reading right now can be viewed here: <a target="_blank" href="https://github.com/sandervanteinde/blogging-website/blob/383066245e28e81d47287b41935c12402cb41958/blog-website/src/app/home/about/about.component.html#L36-L39">on GitHub</a>
    </p>

    <h3>Contact me</h3>
    <p>Want to get in touch with me? Awesome! You can reach me on <a target="_blank" href="mailto:sandervanteinde@gmail.com">sandervanteinde@gmail.com</a></p>
    <p>You can also find me on <a target="_blank" href="https://twitter.com/sandervanteinde">Twitter</a>, <a target="_blank" href="https://www.linkedin.com/in/sandervanteinde">Linkedin</a> and <a target="_blank" href="https://github.com/sandervanteinde">GitHub</a></p>
  </div>
</app-card>
