:host {
  overflow: hidden;
}

.image-container {
  display: flex;
  justify-content: center;

  img {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

article {
  margin-top: -26px;
}


app-card {
  height: 100%;
}
