@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&family=Lato:wght@300;400&display=swap');
@import "./styles/rebranding";

h1, h2, h3 {
  font-family: var(--font-header);
}

h1 {
  margin: 40px 0;
  font-weight: 500;
}

h3 {
  font-weight: 400;
  font-size: 1.2em;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  font-weight: 300;
  font-size: 1.1em;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

:root {
  --primary-color: #107ab0;
  --primary-color-lighten: #009abd;

  --error-color: #e74646;
  --error-color-lighten: #ee7474;

  --warning-color: #ecb726;

  --success-color: #3dd151;

  --image-border-radius: 10px;

  --font-header: 'JetBrains Mono', monospace;
}

img {
  border-radius: var(--image-border-radius);
}
