<article>
  <img src="https://picsum.photos/800/300" />

  <h3>This is my blog title</h3>

  <p>
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias
      id voluptas accusamus a ducimus ipsum eius omnis vero cupiditate quisquam
      quae unde, quis maxime nesciunt perspiciatis explicabo ab aliquam!
    </span>
    <span>
      Deserunt eveniet tenetur nihil eos laudantium fugiat doloremque excepturi
      magnam eum, et repudiandae. Eos suscipit doloribus quia saepe odio labore,
      culpa consectetur sunt nulla, eveniet itaque neque, incidunt enim laborum.
    </span>
  </p>
  <app-button>Read more</app-button>
</article>
