.blog-previews {
  margin-top: 75px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  gap: 45px;

  @media screen and (min-width: 601px) and (max-width: 1000px) {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
  }

  @media screen and (max-width: 600px) {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto;
  }
}
