<nav>
  <app-container>
    <div class="nav-container">
      <div class="nav-container__left">
        <h1 class="nav-container__logo">
          Sander's <span (click)="clickB($event)">b</span>log
        </h1>
        <ul>
          <li>
            <a
              [routerLink]="['/']"
              class="nav-container__link"
              routerLinkActive="nav-container__link--active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Home
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/about']"
              class="nav-container__link"
              routerLinkActive="nav-container__link--active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              About
            </a>
          </li>
          <li *ngIf="false">
            <a
              [routerLink]="['/categories']"
              class="nav-container__link"
              routerLinkActive="nav-container__link--active"
            >
              Categories
            </a>
          </li>
          <li *ngIf="isAdmin$ | async">
            <a
              [routerLink]="['/admin']"
              class="nav-container__link"
              routerLinkActive="nav-container__link--active"
            >
              Admin panel
            </a>
          </li>
          <li *ngIf="isLoggedIn$ | async">
            <a
              href="#"
              (click)="logout()"
              class="nav-container__link"
              routerLinkActive="nav-container__link--active"
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
      <div class="nav-container__right">
        <ul>
          <li *ngIf="false">
            <input type="text" placeholder="Search" />
          </li>
          <li>
            <a href="https://twitter.com/sandervanteinde" target="_blank">
              <img
                src="/assets/3rd-party-logos/twitter.svg"
                style="height: 30px"
              />
            </a>
          </li>
          <li>
            <a href="https://github.com/sandervanteinde" target="_blank">
              <img
                src="/assets/3rd-party-logos/github.svg"
                style="height: 30px"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </app-container>
</nav>
<main>
  <app-container>
    <router-outlet></router-outlet>
  </app-container>
</main>
