<nav>
  <app-container>
    <div class="nav-container">
      <div class="nav-container__left">
        <img src="https://picsum.photos/75/75" />
        <ul>
          <li>
            <a
              [routerLink]="['/']"
              class="nav-container__link"
              routerLinkActive="nav-container__link--active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Home
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/categories']"
              class="nav-container__link"
              routerLinkActive="nav-container__link--active"
            >
              Categories
            </a>
          </li>
          <li *ngIf="isAdmin$ | async">
            <a
              [routerLink]="['/admin']"
              class="nav-container__link"
              routerLinkActive="nav-container__link--active"
            >
              Admin panel
            </a>
          </li>
        </ul>
      </div>
      <div class="nav-container__right">
        <ul>
          <li>
            <input type="text" placeholder="Search"/>
          </li>
          <li>
            <a href="https://twitter.com/sandervanteinde" target="_blank">
              <img
                src="/assets/3rd-party-logos/twitter.svg"
                style="height: 30px"
              />
            </a>
          </li>
          <li>
            <a href="https://github.com/sandervanteinde" target="_blank">
              <img
                src="/assets/3rd-party-logos/github.png"
                style="height: 24px; top: 3px"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </app-container>
</nav>
<main>
  <app-container>
    <router-outlet></router-outlet>
  </app-container>
</main>
