input, textarea {
  font-family: var(--font-header)
}
textarea {
  resize: vertical;
}
.new-blog {
  &__title-input {
    grid-area: title;
  }

  &__subtitle-input {
    grid-area: subtitle;
  }

  &__categories {
    grid-area: categories;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__category-list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }

  &__status {
    grid-area: status;

    &--pristine, &--saved {
      color: var(--success-color);
    }

    &--dirty, &--saving {
      color: var(--warning-color);
    }
  }

  &__editor {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 30px;
    grid-template-areas: 
      "title title status" 
      "subtitle subtitle subtitle"
      "editor preview preview"
      "categories categories categories";
    grid-template-columns: 50% 40% 10%;
  }

  &__content-input {
    grid-area: editor;
  }

  &__preview {
    grid-area: preview;
  }
}

img {
  max-width: 100%;
  max-height: var(--logo-max-height);
}
