<h1>Update blog post</h1>


<form [formGroup]="blogForm" class="new-blog__editor" (ngSubmit)="updateBlog()">
  <input class="new-blog__title-input" formControlName="title" type="text" placeholder="Title" />
  <span class="new-blog__status new-blog__status--{{state}}">{{state}}</span>
  <textarea class="new-blog__subtitle-input" formControlName="shortDescription"></textarea>
  <textarea class="new-blog__content-input" formControlName="markdownContent"></textarea>
  <div class="new-blog__preview">
    <h1>{{ blogForm.value.title }}</h1>
    <markdown emoji [lineNumbers]="true" [data]="blogForm.value.markdownContent"></markdown>
  </div>
  <button class="new-blog__save" app-button [disabled]="blogForm.invalid"> Save blog </button>
</form>

