.blog {
  display: grid;
  grid-template-areas: "title" "logo" "contents";

  > * {
    width: 100%;
  }

  &__title {
    grid-area: title;
  }

  &__logo {
    grid-area: logo;
  }

  &__contents {
    grid-area: contents;
  }
}
