:host {
  padding: 8px;
  border-radius: 8px;
  border: none;
  transition: 100ms ease-in-out;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
  font-family: var(--font-default);

  &.button {
    &--default {
      background-color: var(--primary-color);
      color: white;

      &:not([disabled]):hover {
        background-color: var(--primary-color-lighten);
        cursor: pointer;
      }
    }
    &--danger {
      background-color: var(--error-color);
      color: white;


      &:not([disabled]):hover {
        background-color: var(--error-color-lighten);
        cursor: pointer;
      }
    }
  }

  &[disabled] {
    background-color: #a8a8a8;
  }
}
